@charset "UTF-8";

.panel {

  margin: 0 !important;

  .title-head {
    display:                    block;
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
    border-top-width:           0;
    border-left-width:          0;
    border-right-width:         0;
    padding:                    10px 0;
  }

  .button_span {
    border-top-left-radius:  0;
    border-top-right-radius: 0;
    border-bottom-width:     0;
    border-left-width:       0;
    border-right-width:      0;
  }

  .button_standort {
    border-right-width: 1px;
    border-left-width:  1px;
    padding-top:        2px;
    padding-bottom:     2px;
  }

  .button_mkaDropdown {
    margin-left:    30%;
    padding-top:    2px;
    padding-bottom: 2px;
    height:         32px;
    margin-top:     -5px;
  }

  .button_kanalNr {
    margin: 5px 0;
  }

  .atis {
    padding:    10px 0;
    transition: all .3s ease-out;
  }

  .dropdown {
    .dropdown-menu {
      width: 250px;
    }
  }

  .panel-footer {
    padding: 0;

    .button_mhan,
    .button_span {
      display: inline-block;
    }
  }
}

.panel.panel-primary {
  .panel-heading {
    @extend .panel-primary;
  }
}

.panel.panel-default {
  .panel-heading {
    @extend .panel-default;
  }
}
