@charset "UTF-8";

// ========================================== fonts =============================================================//
$body-text-color: #272727;
$navbarcolor: #FFFFFF;

// ========================================== colors =============================================================//
$lightgrey: #E6E6E6;
$mediumgrey: #C5C5C5;
$grey: #B3B3B3;
$darkgrey: #222222;
$icongrey: #4F4F4F;
$specialgrey: #BBBBBB;

$darkerblue: #015186;
$darkblue: #008DF2;
$mediumblue: #C1DAE4;