extends layout
block content
    div.container-fluid
        div.content
            div.col-md-12
                p Anzeige aller vom RFD übermittelten Zustände. Auch virtuelle Verbindungen und Sensoren.
                table#example.display(
                    style='width: 100%'
                )
                
block append codeTeil2
    script.
        //WebSocket Verbindung herstellen
        var aktuellerUKWserver = location.protocol + '//' + location.hostname + ':'+ location.port;
        var socket = io(aktuellerUKWserver);
        
        var dataSet = []
        
        $.getJSON('verbindungen/liesZustand', function (data) {
            
            $.each(data, function (key, val) {
                //item = [
                //    val._id,
                //    val.letzteMeldung,
                //    val.status.connectState || 'null',
                //    val.status.channel
                //]
                item = {
                    id : val._id,
                    zeit: new Date(val.letzteMeldung).toLocaleString(),
                    status : val.status.connectState || 'null',
                    kanal : val.status.channel
                }
            dataSet.push(item);
            })
            erneuereTabelle()
        })
        
        function ladeDaten() {
            
        }
        
        var table = $('#example').DataTable({
            data: dataSet,
            columns: [
                   { data: 'id' , title : 'Id'},
                   { data: 'zeit', title : 'Zeitstempel'},
                   { data: 'status', title : 'Status'},
                   { data: 'kanal', title : 'Kanal'}
            ]
        }); 
        $('#example').addClass('table table-striped table-bordered')
          
        //var i = 0
        function erneuereTabelle(){
            //dataSet[0].kanal = i++;
            table.clear().draw();
            table.rows.add(dataSet); // Add new data
            table.columns.adjust().draw(); 
        }
        
        //setInterval(erneuereTabelle, 3000);
        
        //Socket Ereignis Verarbeitung
        socket.on('ukwMessage', function (msg) {
            if ('FSTSTATUS' in msg) {
                var idInMsg = msg.FSTSTATUS.$.id;
                $.each(dataSet, function(key, val) {
                    if (val.id === idInMsg) {
                        val.status = msg.FSTSTATUS.$.connectState;
                        val.zeit = new Date(msg.FSTSTATUS.letzteMeldung).toLocaleString();
                        val.kanal = msg.FSTSTATUS.$.channel;
                    }
                })
                erneuereTabelle();
            }
        })
   
        
