extends layout.pug
block content
    div.container-fluid
        div.content
            div.col-md-12
                h1 Gesamtübersicht
                p sadlkfjasdlfjkasdklfj
                table#example.display(
                    style='width: 100%'
                )

block sidebar
  +sidebarStatus


block append codeTeil1

                
block append codeTeil2
    script.
        $('.nav-sidebar li').removeClass('active');
        $('#uebersicht').addClass('active')
        
